.select-wrapper .caret {
  top: -20px;
}

.select-wrapper,
.select-wrapper input {
  cursor: pointer;
}

.select-wrapper.readonly,
.select-wrapper.readonly input,
.select-wrapper.disabled,
.select-wrapper.disabled input {
  cursor: initial !important;
}


.dropdown-content.select-dropdown.show {
  display: block;
  opacity: 1;
  transform-origin: 100% 0;
  transform: scaleX(1) scaleY(1);
}
.select-dropdown li i{
  margin: 0
}
.select-dropdown li i svg {
  height: 40px;
  width: 40px;
  margin: 5px 15px;
  float: right;
}
.select-dropdown li i.color svg {
  fill: $dropdown-color;
}
