.select-wrapper .caret {
  top: -20px;
}

.select-wrapper,
.select-wrapper input {
  cursor: pointer;
}

.select-wrapper.readonly,
.select-wrapper.readonly input,
.select-wrapper.disabled,
.select-wrapper.disabled input {
  cursor: initial !important;
}


.dropdown-content.select-dropdown.show {
  display: block;
  opacity: 1;
  transform-origin: 100% 0;
  transform: scaleX(1) scaleY(1);
}
