.mat-input-helper-counter {
  display: flex !important;
}

.mat-input-helper-counter .helper-text {
  flex: 1;
}

.mat-input-helper-counter .character-counter{
  color: rgba(0, 0, 0, 0.54) !important;
}

.mat-input-helper-counter .character-counter {
  flex: 0;
  text-align: right;
  font-size: 12px;
}

.mat-input-helper-counter .character-counter.hide {
  display: none;
}